body {
  background-color: #d2bec865;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
html,
body {
  scrollbar-gutter: stable;
}

h1 {
  color: #553d67;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
#table-scroll {
  background-color: #f5e9ef;
  max-height: 20rem;
  width: 20rem;
  overflow: auto;
  margin-top: 20px;
  border: #ff767887 10px solid;
  overflow-x: hidden;
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.table1 {
  border: #ff767891 2px solid;
  border-collapse: collapse;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  align-items: center;
}
#table-body {
  border-top: #ff767871 2px solid;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 0;
  max-height: 3rem;
  overflow: scroll;
  overflow-y: auto;
}

td,
th {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  border-right: solid 2px #ff76786b;
}
thead th {
  position: sticky;
  top: 0;
  background-color: #ffd2d2;
  z-index: 1;
  border: solid 2px #ff7678;
}

#add-person {
  margin-top: 1rem;
  padding: 1.5rem;
  border: none;
  background-color: #f64c72;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease-out;
}
#add-person:active {
  background-color: #f58897;
}
.cont-input {
  position: relative;
  border-bottom: #ff767882 20px solid;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

#name,
#surname,
#age {
  padding: 10px 20px;
  background-color: #f970b900;
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  border: solid 2px #ff7678;
  transition: all 0.3s ease;
}
.table1,
#table-scroll {
  box-sizing: border-box;
}
#name:focus,
#surname:focus,
#age:focus {
  background-color: #b548481b;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  h1,
  #add-person {
    font-size: 1.2rem;
    background-color: #f64c72;
  }

  .cont-input {
    padding: 1rem 0.5rem;
  }

  #name,
  #surname,
  #age {
    padding: 8px 15px;
  }
}
